* {
  margin: 0px;
  border: 0px;
  padding: 7px;
  font-family: sans-serif;
}

.div2 {
  display: flex;
  margin-left: 30px;
}

.div3 {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.container1 {
  display: flex;
  justify-content: space-between;
}

.button1 {
  background-color: blue;
  color: white;
  /* height: 20px; */
  padding: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: aqua;
}

.main {
  justify-content: center;
  display: flex;
  margin-top: 120px;
}

.main2 {
  display: flex;
  justify-content: center;
  border: 2px;
  border: solid grey;
  border-radius: 30px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 10px;
  height: 30px;
}

.microphone {
  width: 10px;
}

.magni {
  width: 15px;
}

.sokbar {
  width: 800px;
  height: 20px;
}

.text {
  display: flex;
  justify-content: center;
}

.footer2 {
  display: flex;
}

footer {
  background-color: lightgrey;
  border: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-top: 25px;
  
}

